.details-container {
  display: flex;
  gap: 30px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

/* Left: Gallery */
.details-image-section {
  flex: 1;
}

.main-image {
  width: 100%;
  height: 350px;
  object-fit: contain;
  border-radius: 12px;
  background: #f8f8f8;
  padding: 10px;
}

.image-list {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.small-image {
  width: 68px;
  height: 68px;
  border-radius: 8px;
  object-fit: contain;
  background: #f8f8f8;
  padding: 5px;
  cursor: pointer;
}

/* Right section */
.details-info {
  flex: 1.2;
}

.details-info h2 {
  margin-bottom: 10px;
}

.details-price {
  font-size: 26px;
  margin: 10px 0;
  color: #e40000;
}

.discount {
  font-size: 16px;
  color: green;
  margin-left: 5px;
}

.details-desc {
  margin: 15px 0;
  line-height: 1.6;
}

.details-btn {
  padding: 12px 20px;
  background: #111;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.details-btn:hover {
  background: #333;
}
