.add-category-container {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  max-width: 700px;
  margin: auto;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.08);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.category-form .form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.category-form label {
  font-weight: 600;
  margin-bottom: 6px;
}

.category-form input
 {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  background: #4b7bec;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.btn-submit:hover {
  background: #3867d6;
}
