.layout-wrapper {
  display: flex;
  min-height: calc(100vh - 120px); 
  background-color: #f5f6fa;
}


.sidebar {
  width: 250px;
  min-height: 100%;
  background-color: #2c3e50;
  color: white;
  padding-top: 20px;
  position: sticky;
  top: 0;
}


.layout-content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
}


@media (max-width: 768px) {
  .layout-wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    position: relative;
  }
}
