
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(238, 233, 233);
  padding: 12px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 15px;
}

.navbar-logo .logo-text {
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
}

.brand-main {
  color: #e63946; 
}

.brand-sub {
  color: #333; 
}

.search-box {
  display: flex;
  align-items: center;
  background: #fffafa;
  padding: 8px 12px;
  border-radius: 8px;
  gap: 10px;
}

.search-box input {
  border: none;
  background: none;
  outline: none;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 25px;
}

.profile-img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.logout-btn {
  background: transparent;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
  margin-left: 12px;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  margin-left: 15px;
  font-size: 16px;
  text-decoration: none;
}
