.profile-wrapper {
  display: flex;
  width: 80%;
  height: 100vh;
  background: #b6a1a1;
box-shadow: 0 0 10px rgba(46, 47, 48, 0.3);

}

.profile-right {
  flex: 1.8;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 30px;

}

.profile-form {
  width: 90%;
  max-width: 600px;
}

.profile-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}


.profile-photo {
  text-align: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #4a90e2;
  margin-bottom: 10px;
}

.upload-label {
  display: inline-block;
  padding: 8px 14px;
  background: #4a90e2;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.upload-label input {
  display: none;
}


.profile-fields {
  display: flex;
  gap: 20px;
}

.fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fields input,
.fields textarea {
  padding: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

.fields textarea {
  height: 100px;
  resize: none;
}

.fields input:focus,
.fields textarea:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}


/* Buttons */
.form-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.btn-edit,
.btn-save,
.btn-cancel {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Edit */
.btn-edit {
  background-color: #ff6600;
  color: white;
}
.btn-edit:hover {
  background-color: #e65c00;
}

/* Save */
.btn-save {
  background-color: #28a745;
  color: white;
}
.btn-save:hover {
  background-color: #218838;
}

/* Cancel */
.btn-cancel {
  background-color: #ccc;
  color: #333;
}
.btn-cancel:hover {
  background-color: #b3b3b3;
}


@media (max-width: 850px) {
  .profile-wrapper {
    flex-direction: column;
    height: auto;
  }

  .profile-left {
    padding: 20px;
  }

  .profile-fields {
    flex-direction: column;
  }
}
