.sidebar {
  width: 250px;
  background: #1e1e2f;
  height: 100vh;
  padding: 20px;
  color: #fff;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list li {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-list li:hover {
  background: #2a2a40;
}

.menu-list li svg {
  margin-right: 10px;
}

.menu-list a {
  color: white;
  text-decoration: none;
}

.dropdown {
  justify-content: space-between;
}

.arrow {
  margin-left: auto;
font-size: 5px;
}

.submenu {
  list-style: none;
  padding-left: 35px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.submenu li {
  padding: 8px 0;
  font-size: 30px;
}

.submenu a {
  color: #d1d1d1;
  font-size: 14px;
}

.submenu li:hover a {
  color: #fff;
}

.logout {
  margin-top: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
